$light-color = #fff
$dark-color = #000

$theme-color = #20a19f

$primary-color = #333

$border-color = #f7f8f9

$disabled-color = #d0d0d0

$remark-color = #b7b7b7

$bg-color = #f1f1f1

$box-shadow = 0 1px 1px rgba(0, 0, 0, .05)

$grey-color = #808080